.vs/
BezierGeneration1/BezierGeneration1/bin/
BezierGeneration1/BezierGeneration1/obj/x86/Debug/BezierGeneration1.csproj.CopyComplete
BezierGeneration1/BezierGeneration1/obj/x86/Debug/BezierGeneration1.csproj.CoreCompileInputs.cache
BezierGeneration1/BezierGeneration1/obj/x86/Debug/BezierGeneration1.csproj.FileListAbsolute.txt
BezierGeneration1/BezierGeneration1/obj/x86/Debug/BezierGeneration1.csprojAssemblyReference.cache
BezierGeneration1/BezierGeneration1/obj/x86/Debug/BezierGeneration1.csprojResolveAssemblyReference.cache
BezierGeneration1/BezierGeneration1/obj/x86/Debug/BezierGeneration1.exe
BezierGeneration1/BezierGeneration1/obj/x86/Debug/BezierGeneration1.pdb
BezierGeneration1/BezierGeneration1/obj/x86/Debug/cachefile-{9386A20F-109D-4241-8944-A44B1D14B70D}-targetpath.txt
BezierGeneration1/BezierGeneration1/obj/x86/Debug/ContentPipeline-{9386A20F-109D-4241-8944-A44B1D14B70D}.xml
BezierGeneration1/BezierGeneration1/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BezierGeneration1/BezierGeneration1/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
BezierGeneration1/BezierGeneration1Content/obj/
